.about-us h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-left: 15%;
    padding-bottom: 20px;
    margin-top: 50px;
    font-size: 1.8rem;
    border-left: 1px solid black;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-us p{
    font-family: "Montserrat", sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.7rem;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 50px;
}

.about-container{
    background-color: #222222;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.about-container h2{
    color: white;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px;
    font-weight: 400;
}

.about-info{
    margin-left: 15%;
    text-align: center;
}

.map-container{
    margin-right: 15%;
    padding: 50px 0 50px 0;
    height: 700px; 
    width: 1000px;
}

@media(max-width: 1700px){
    .about-us h1{
        font-size: 1.8rem;
        padding-left: 15px;
        margin-top: 40px;
    }

    .about-us p{
        font-size: 1.2rem;
        line-height: 40px;
        padding-bottom: 10px;  
    }
    
    .about-info h2{
        font-size: 1.3rem;
    }

    .map-container{
        width: 600px;
        height: 500px;
    }
}

@media(max-width: 1400px){
    .about-us h1{
        font-size: 1.6rem;
    }

    .about-us p{
        font-size: 1.2rem;
    }

    .map-container{
        width: 500px;
        height: 400px;
    }
}

@media(max-width: 1200px){
    .about-us h1{
        font-size: 1.5rem;
    }

    .about-us p{
        font-size: 1.1rem;
        padding-bottom: 0;
    }

    .about-info h2{
        font-size: 1.1rem;
    }

    .map-container{
        width: 430px;
        height: 330px;
    }
}

@media(max-width: 992px){
    .about-us h1{
        font-size: 1.4rem;
        margin-top: 30px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .about-us p{
        font-size: 1rem;
    }

    .about-info{
        margin-left: 0;
        padding-top: 20px;
    }

    .about-info h2{
        font-size: 1.1rem;
        padding-bottom: 10px;
    }

    .map-container{
        width: 400px;
        height: 300px;
        margin-right: 0;
        padding-top: 20px;
    }

    .about-container{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .about-us h1{
        font-size: 1.3rem;
    }

    .about-us p{
        font-size: 0.9rem;
        line-height: 35px;
    }

    .about-info h2{
        font-size: 1rem;
    }

    .map-container{
        width: 350px;
        height: 250px;
    }
}

@media(max-width: 576px){
    .about-us h1{
        font-size: 1.2rem;
        padding-left: 10px;  
    }

    .about-us p{
        font-size: 0.8rem;
        line-height: 30px;
    }

    .about-info h2{
        font-size: 0.8rem;
    }

    .map-container{
        width: 300px;
        height: 200px;
        padding-top: 10px;
    }
}

@media(max-width: 390px){
    .about-us p{
        line-height: 25px;  
        font-size: 0.7rem;
    }

    .map-container{
        width: 270px;
        height: 170px;
        padding-bottom: 30px;  
    }
}