/*-----General styling for projects page-----*/
.projects{
    background-color: #282d31;
    padding-top: 20px;
    padding-bottom: 60px;
}

.projects h1{
    font-size: 3rem;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border-left: 1px solid white;
    padding-left: 30px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

.projects p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.7rem;
    margin-left: 15%;
    margin-right: 15%;
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
    line-height: 45px;
}

/*-----Styling for single project component-----*/
.projectsContainer{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 50px;   
}

.allProjects {
    display: flex;
    gap: 8px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: scroll;
}

.allProjects::-webkit-scrollbar {
   display: none;
}

.scroll-btn {
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;   
    font-size: 3rem;
    z-index: 5;
}

.scroll-btn.left {
    left: 15px;
}

.scroll-btn.right {
    right: 15px;  
}

.project{
    height: 600px;
    display: flex;
    min-width: 400px;
    cursor: pointer;
    overflow: hidden;
}

.project img{
    object-fit:cover; 
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
    filter: brightness(70%);
}

.project img:hover {
    transform: scale(1.2); 
}

@media(max-width: 1700px){
    .projects h1{
        font-size: 1.8rem; 
        padding-left: 15px;
    }

    .projects p{
        font-size: 1.3rem;
        line-height: 40px;
    }

    .project{
        height: 550px;
        min-width: 400px;
    }
}

@media(max-width: 1400px){
      .projects h1{
        font-size: 1.6rem;
      }

      .projects p{
        font-size: 1.2rem;
      }

      .project{
        height: 450px;
        min-width: 320px;
      }

      .scroll-btn{
        font-size: 2.8rem;
      }

      .projectsContainer{
        margin-top: 0;
      }
      
}

@media(max-width: 1200px){
    .projects{
        padding-bottom: 40px;
    }

    .projects h1{
        font-size: 1.5rem;
    }

    .projects p{
        font-size: 1.1rem;
    }

    .project{
        height: 400px;
        min-width: 270px;
    }

    .scroll-btn{
        font-size: 2.6rem;
    }

    .allProjects{
        gap: 5px;
    }
}

@media(max-width: 992px){
    .projects h1{
        font-size: 1.4rem;
        padding-bottom: 7px;
        padding-top: 7px;
        margin-top: 10px;
    }

    .projects p{
        font-size: 1rem;
        line-height: 35px;
    }

    .project{
        height: 230px;
        min-width: 22vw;
    }
    
    .scroll-btn{
        font-size: 1.7rem;
    }
}

@media(max-width: 768px){

}

@media(max-width:576px){

}

@media(max-width: 390px){
    
}