.slider-image{
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  height: 900px;
  flex-direction:column;
  text-align: start;
}

.slider-image h2{
  margin-left: 15%;
  color: white;
  font-size: 2.5rem;
  margin-top: 120px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  margin-bottom: 15px;
  padding-bottom: 0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.slider-image p{
  margin-top: 0;
  margin-left: 15%;
  color: white;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

@media(max-width: 1700px){
  .slider-image{
    height: 700px;
  }

  .slider-image h2{
    font-size: 2rem;
    margin-top: 100px;
  }

  .slider-image p{
    font-size: 1.4rem;
  }
}

@media(max-width: 1400px){
  .slider-image{
    height: 600px;
  }

  .slider-image h2{
    font-size: 1.8rem;
    margin-top: 90px;
  }

  .slider-image p{
    font-size: 1.2rem;
  }
}

@media(max-width: 1200px){
  .slider-image{
    height: 500px;
  }

  .slider-image h2{
    font-size: 1.7rem;
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .slider-image p{
    font-size: 1.1rem;
  }
}

@media(max-width: 992px){
  .slider-image{
    height: 400px;
  }

  .slider-image h2{
    font-size: 1.7rem;
    margin-top: 70px;
  }

  .slider-image p{
    font-size: 1rem;
  }
}

@media(max-width: 768px){
  .slider-image{
    height: 350px;
  }

  .slider-image h2{
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 10%;
  }

  .slider-image p{
    font-size: 0.8rem;
    margin-left: 10%;
  }
}

@media(max-width: 576px){
  .slider-image{
    height: 300px;
  }

  .slider-image h2{
    font-size: 1.4rem;
    margin-top: 50px;
  }

  .slider-image p{
    font-size: 0.7rem;
  }
}

@media (max-width: 390px){
  .slider-image{
    height: 250px;
  }

  .slider-image h2{
    font-size: 1.2rem;
    margin-top: 40px;
  }

  .slider-image p{
    font-size: 0.6rem;
  }
}