.slider-image{
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  height: 900px;
  flex-direction:column;
  text-align: start;
}

.slider-image h2{
  margin-left: 15%;
  color: white;
  font-size: 3rem;
  margin-top: 120px;
  /*font-weight: bolder;*/
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  padding-bottom: 0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

}

.slider-image p{
  margin-top: 0;
  margin-left: 15%;
  color: white;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

@media (min-width: 1401px) and (max-width: 1700px){
  .slider-image{
    height: 700px;
  }

  .slider-image h2{
    font-size: 2.5rem;
  }

  .slider-image p{
    font-size: 1.7rem;
  }
}

@media (min-width: 1201px) and (max-width: 1400px){
  .slider-image{
    height: 600px;
  }

  .slider-image h2{
    font-size: 2.3rem;
  }

  .slider-image p{
    font-size: 1.5rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px){
  .slider-image{
    height: 550px;
  }

  .slider-image h2{
    font-size: 2rem;
    margin-top: 100px;
    padding-bottom: 8px;
  }

  .slider-image p{
    font-size: 1.3rem;
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .slider-image{
    height: 500px;
  }

  .slider-image h2{
    font-size: 1.7rem;
    margin-top: 80px;
  }

  .slider-image p{
    font-size: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 768px){
  .slider-image{
    height: 400px;
  }

  .slider-image h2{
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 10%;
    padding-bottom: 6px;
  }

  .slider-image p{
    font-size: 0.8rem;
    margin-left: 10%;
  }
}

@media (min-width: 391px) and (max-width: 576px){
  .slider-image{
    height: 300px;
  }

  .slider-image h2{
    font-size: 1.3rem;
    margin-top: 50px;
    margin-left: 10%;
  }

  .slider-image p{
    font-size: 0.6rem;
    margin-left: 10%;
  }
}

@media (max-width: 390px){
  .slider-image{
    height: 250px;
  }

  .slider-image h2{
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 10%;
    padding-bottom: 5px;
  }

  .slider-image p{
    font-size: 0.5rem;
    margin-left: 10%;
  }
}